beautifulsoup4
certifi
charset-normalizer
click
cssselect
feedfinder2
feedparser
filelock
Flask
gTTS
idna
itsdangerous
jieba3k
Jinja2
joblib
langdetect
lxml
MarkupSafe
newspaper3k
nltk
Pillow
pygame
python-dateutil
PyYAML
regex
requests
requests-file
sgmllib3k
six
soupsieve
tinysegmenter
tldextract
tqdm
urllib3
Werkzeug
